body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	background-color: rgba(58, 44, 128, 0.37);
}

.form {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.form_siswa {
	background-color: rgb(139, 0, 253);
	padding: 0 400px 20px 400px;
	display: flex;
	flex-direction: column;
	border: 2px solid black;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
		rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.form_siswa h1 {
	text-align: center;
}

.form_siswa input {
	margin-bottom: 20px;
}

.form_siswa textarea {
	margin-bottom: 20px;
	width: 350px;
	height: 50px;
}

.form_siswa .options {
	margin-bottom: 20px;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	width: 80px;
}
